<!--The content below is only a placeholder and can be replaced.-->

<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="primary">
  <span id="home" routerLink="/home">aBoard</span>
  <!-- <button mat-button routerLink="/portal/create-auction" id="btnNewAuction">Create new auction item</button>
    <button mat-button routerLink="/portal/display-auctions">See all auctions</button> -->

  <!-- This fills the remaining space of the current row -->
  <span class="example-fill-remaining-space"></span>

  <!-- <button mat-button>Log out</button> -->
  <div *ngIf="user">
    <span> Welcome, {{ user?.username }} </span>
    <button mat-button routerLink="/users/logout" id="btnLogout">Logout</button>
  </div>
  <div *ngIf="!user">
    <button mat-button routerLink="/users/login" id="btnLogin">Login</button>
    <button mat-button routerLink="/users/register" id="btnRegister">
      Register
    </button>
  </div>
</mat-toolbar>

<router-outlet></router-outlet>
