mat-card.insert-message-card.mat-card {
  display: grid;
  justify-items: center;
  width: 80% !important;
  margin: 0 auto !important;
}

div.mat-form-field-wrapper {
  width: 80vw;
}

.inputField {
  width: 100%;
}
