img {
    max-width: 15vw;
}

mat-card {
    display: grid;
    justify-items: center;
}
mat-card-header{
    display: grid;
    justify-items: center;
}
mat-card-title.mat-card-title {
    display: grid;
    justify-items: center;
}